/*
Syntax error: Invalid CSS after "...ep this stuff *": expected "{", was "/"
        on line 113 of /Users/genelocklin/Sites/github/css-only-slide-down-panel/stylesheets/sass/index.scss

Backtrace:
/Users/genelocklin/Sites/github/css-only-slide-down-panel/stylesheets/sass/index.scss:113
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:981:in `expected'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:917:in `expected'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:912:in `tok!'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:415:in `block'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:410:in `ruleset'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:472:in `block in declaration_or_ruleset'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:955:in `call'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:955:in `rethrow'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:473:in `declaration_or_ruleset'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:435:in `block_child'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:424:in `block_contents'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:416:in `block'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:410:in `ruleset'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:472:in `block in declaration_or_ruleset'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:955:in `call'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:955:in `rethrow'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:473:in `declaration_or_ruleset'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:435:in `block_child'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:424:in `block_contents'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:416:in `block'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:410:in `ruleset'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:472:in `block in declaration_or_ruleset'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:955:in `call'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:955:in `rethrow'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:473:in `declaration_or_ruleset'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:435:in `block_child'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:424:in `block_contents'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:416:in `block'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:410:in `ruleset'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:472:in `block in declaration_or_ruleset'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:955:in `call'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:955:in `rethrow'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:473:in `declaration_or_ruleset'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:435:in `block_child'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:424:in `block_contents'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:416:in `block'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:410:in `ruleset'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:472:in `block in declaration_or_ruleset'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:955:in `call'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:955:in `rethrow'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:473:in `declaration_or_ruleset'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:435:in `block_child'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:424:in `block_contents'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:416:in `block'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:316:in `media_directive'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:154:in `special_directive'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:132:in `directive'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:434:in `block_child'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:427:in `block_contents'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:70:in `stylesheet'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/scss/parser.rb:27:in `parse'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/engine.rb:332:in `_to_tree'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/engine.rb:305:in `_render'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.0.alpha.63/lib/sass/engine.rb:252:in `render'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.rc.1/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.rc.1/lib/compass/compiler.rb:126:in `timed'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.rc.1/lib/compass/compiler.rb:139:in `block in compile'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.rc.1/lib/compass/logger.rb:45:in `red'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.rc.1/lib/compass/compiler.rb:138:in `compile'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.rc.1/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.rc.1/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.rc.1/lib/compass/compiler.rb:101:in `each'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.rc.1/lib/compass/compiler.rb:101:in `block in run'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.rc.1/lib/compass/compiler.rb:126:in `timed'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.rc.1/lib/compass/compiler.rb:100:in `run'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.rc.1/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.8.1/lib/fssm/path.rb:73:in `call'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.8.1/lib/fssm/path.rb:73:in `run_callback'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.8.1/lib/fssm/path.rb:55:in `callback_action'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.8.1/lib/fssm/path.rb:35:in `update'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.8.1/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.8.1/lib/fssm/state/directory.rb:37:in `each'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.8.1/lib/fssm/state/directory.rb:37:in `modified'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.8.1/lib/fssm/state/directory.rb:18:in `refresh'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.8.1/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.8.1/lib/fssm/backends/polling.rb:17:in `each'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.8.1/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.8.1/lib/fssm/backends/polling.rb:15:in `loop'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.8.1/lib/fssm/backends/polling.rb:15:in `run'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.8.1/lib/fssm/monitor.rb:26:in `run'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.8.1/lib/fssm.rb:70:in `monitor'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.rc.1/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.rc.1/lib/compass/commands/base.rb:18:in `execute'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.rc.1/lib/compass/commands/project_base.rb:19:in `execute'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.rc.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.rc.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.rc.1/bin/compass:29:in `block in <top (required)>'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.rc.1/bin/compass:43:in `call'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.rc.1/bin/compass:43:in `<top (required)>'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/bin/compass:19:in `load'
/Users/genelocklin/.rvm/gems/ruby-1.9.3-p0/bin/compass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...ep this stuff *\": expected \"{\", was \"/\"\A         on line 113 of /Users/genelocklin/Sites/github/css-only-slide-down-panel/stylesheets/sass/index.scss"; }
